#exampleFormControlInput1::placeholder {
  color: var(--bs-body-bg);
}

.class-1 {
  background: rgb(0, 0, 0);
}

.class-2 {
  background: rgba(31, 29, 29, 0.7);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}


.class-4 {
  color: var(--bs-body-bg);
}

.class-5 {
  color: var(--bs-secondary-bg);
}

.class-6 {
  color: var(--bs-body-bg);
}

.class-7 {
  color: var(--bs-body-bg);
}

.class-8 {
  position: relative;
  height: 400px;

}

.class-10 {
  font-size: 32px;
  color: var(--bs-body-bg);
}

.class-11 {
  color: var(--bs-emphasis-color);
}

.class-12 {
  word-wrap: break-word;
  width: 300px;
  color: var(--bs-secondary-bg);
  background: rgba(245, 246, 247, 0.32);
}

.class-13 {
  color: var(--bs-secondary-bg);
}

.class-14 {
  width: 100%;
  color: var(--bs-emphasis-color);
}

.class-15 {
  color: var(--bs-emphasis-color);
}

.class-16 {
  background-color: #f5f6f7;
  word-wrap: break-word;
  width: 300px;
  color: var(--bs-secondary-bg);
}

.class-17 {
  color: var(--bs-body-bg);
}

.class-18 {
  font-size: 32px;
  color: var(--bs-body-bg);
}

.class-19 {
  background: rgba(31, 29, 29, 0.7);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.class-20 {
  font-size: 32px;
  color: var(--bs-body-bg);
}

.class-21 {
  width: auto;
  background: rgba(31, 29, 29, 0);
}

.class-22 {
  background: rgba(13, 110, 253, 0);
  border-style: none;
}

.class-23 {
  font-size: 32px;
  color: var(--bs-btn-bg);
}